body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.half-width img{
    width: 90%;
}
#welc{
    font-weight: 700;
    margin: 5px;
    font-size: 60px;
}
#odw{
    font-size: 50px;
    font-weight: 700;
    margin: 5px;
    line-height: 55px;
}
#bwd{
    font-size: 40px;
    font-weight: 700;
    margin: 5px;
    line-height: 55px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.name{
    background: -webkit-linear-gradient(45deg,orange, tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}
.half-width p{
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 20px;
}
.bg-image {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.flexible{
    display: flex;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.xp-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 100px;
}
.xp-title{
    background: -webkit-linear-gradient(45deg,orange, tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 5%;
}
.xp-item h2{
    font-size: 30px;
    font-weight: 700;
}
.xp-item{
    width: 40%;
    padding: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
.full-item{
    border-left: 7px solid;
    border-image: linear-gradient(red, tomato);
    border-image-slice: 1;
    margin-left: 5%;
    margin-right: 2.5%;
}
.babu-item{
    border-left: 7px solid;
    border-image: linear-gradient(purple, cyan);
    border-image-slice: 1;
    margin-left: 2.5%;
    margin-right: 5%;
}
footer p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}